@model PagedList.Core.IPagedList<News_Core6.ModelViews.PostViewModel>
@using News_Core6.ModelViews;


@{
    ViewData["Title"] = "Home Page";
    IEnumerable<NewViewModel> IsListNew = ViewBag.ListNew;
    PostViewModel OnePost = ViewBag.OnlyOnePost;

    List<Post> IsPostSearch = ViewBag.ListPostSearch;
}
<style>
    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

        .pagination li {
            margin: 0 5px;
        }

            .pagination li a {
                color: #000;
                text-decoration: none;
                padding: 5px 10px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }

            .pagination li.active a {
                background-color: #000;
                color: #fff;
            }
</style>

@if (ViewBag.smg != null)
{
    <p><a href="/logout.html">Logout</a></p>
}
else
{
    <p>Chưa đăng nhập </p>
}

<div class="col-lg-8">
    <!-- Featured blog post-->
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="~/images//Product/@OnePost.DefaultImage" style="height:300px; width:400px" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">@OnePost.CreatedDate</div>
            <h2 class="card-title">@OnePost.Title</h2>
            <p class="card-text">@OnePost.Summary</p>
            <a class="btn btn-primary" href="#!">Read more →</a>
        </div>
    </div>
    <!-- Nested row for non-featured blog posts-->
   
  
        <div class="row">
           

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {

                    <div class="col-lg-6">
                        <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" style="height:207px; width:414px" src="~/images/Product/@item.DefaultImage" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">@item.CreatedDate</div>
                                <h2 class="card-title h4">@item.Title</h2>
                                <p style="color:black" class="card-text">@item.Summary</p>
                                <a class="btn btn-primary" href="#!">Read more →</a>
                            </div>
                        </div>
                    </div>
                    }
                }



           






        </div>
    
    <!-- Pagination-->
    @*  note *@
    <div aria-label="Page navigation example">
        <ul class="pagination">
            <pager class="pager-container" list="@Model" asp-controller="Home" asp-action="Index"  />
        </ul>
    </div>
    @*  note *@
</div>


<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" list="items" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                <datalist id="items">
                    
                   
                    @foreach (var item in IsPostSearch)
                    {
                        <option >@item.Title</option>
                    }

                </datalist>
                 
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled mb-0">

                        @foreach (var iNew in IsListNew)
                        {
                            <li><a href="/new/@iNew.Id">@iNew.Title</a></li>
                        }

                       
                       
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
    </div>
</div>


@section Scripts{
  
}
